@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");
/* font-family: 'Jua', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Gothic A1", sans-serif;
  font-weight: 400;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #454545;
}

header {
  width: 1130px;
  height: 160px;
  background-color: yellow;
  margin: 0 auto;
}

.topmenu {
  width: 100% /* 1130px */;
  height: 40px;
  background-color: tan;
}

.topmenu ul {
  float: right;
  background-color: burlywood;
  /* float을 주는 순간 width 100%는 사라진다 */
}

.topmenu ul li {
  float: left;
  /* 리스트 하나하나를 정렬, 
  리스트 요소크기의 왼쪽임. */
  background-color: chocolate;
  font-size: 12px;
  height: 24px;
  margin-top: 8px;
  line-height: 24px;
  margin-left: 16px;
}
