* {
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
    font-size: 30px;
    border: 1px solid gray;
    margin: 50px;
    width: 700px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
    margin: 0 auto;
}